/*
 Author: Kabrisha Session
 File Name: styles.css
*/
/* CSS reset*/
body, header, nav, footer, h1, div, img, ul, figcaption, figure, article{
    margin:  0;
    padding: 0;
    border: 0;
}

header{  
    height: 190px;
    padding-bottom: 2%;
    top: 0;
    background-color: chartreuse;
}
img{
    max-width: 100%;
    padding-top: 5%;
    display: block;
}

header img{
    margin: 0 auto;
    height: 110px;
    width: 160px;
}

nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    border-top: 1px solid #fff;
    font-family: 'Roboto Slab', serif;
}

nav li a{
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}

h1{
    text-align: center;
} 

h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    text-align: center;
}

/* Style rules for footer content*/
footer p{
    font-size: 0.75em;
    text-align: center;
    color:#fff;
    padding: 0 1em;
}

footer p a{
    color:#fff;
    text-decoration: none;
}

#contact .contact-email-link{
    color: #7fea0d;
    text-align: center;
}

article{
    padding: 2%;
}

article h3{
    text-align: center;
}

article img{
    margin: 0 auto;
}

article ul{
    margin-left: 10%;
}

article:nth-last-of-type(2)
{
 background-color: rgba(204, 204, 204, 0.3);  
}

.frame{
    position: relative;
    max-width: 450px;
    margin: 2% auto;
}

.pic-text{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}


.external_link{
    color: #666600;
    font-weight: bold;
    text-decoration: none;
}

.map{
    border: 2px solid #000;
    width: 96%;
    height: 50%;
}
.tablet-desktop{
    display: none;
}

.mobile{
    display: block;
}

.tel-link{
    background-color: chartreuse;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a{
    color:#000;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.round{
    border-radius: 100px;
}
#capstone, #mentor{
    margin: 0 2%;
}
main{
    /*clear: left;*/   
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
    font-family: 'Roboto Slab', serif;
}

#mail{
    font-size: 1.20em;
    color: chartreuse;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.749);;
}

.mobile h3{
    text-shadow: 5px 5px 8px #ccc;
}
/* MEDIA QUERY INFO*/



@media screen and (min-width: 630px), print{
 .tablet-desktop{
        display: block;
}
    
.mobile{
   display: none;
}

header{
    position: static;
    padding-bottom: 2%;
}

nav li{
    border-top: none;
    display: inline-block;
    border-right: 1px solid #fff;
}

nav li:last-child{
    border-right: none;
}

nav li a{
    padding: 0.1em 0.75em;
}

main ul{
    margin: 0 0 4% 10%;

}
    
.tel-num{
    font-size: 1.25em;
    text-align: center;
}

.map{
    width:600px;
    height:450px;
}

.frame:hover {
    opacity: 1;
    box-shadow: 8px 8px 10px #808080;
}
.grid { 
    display: grid; 
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.frame { 
    opacity: 0.9;  
}

.pic-text {
    font-size: 1.5em;
    padding: 20px; 
}
}


@media screen and (min-width: 769), print {
    
    header{
        width: 25%;
        float: left;
        padding-bottom: 0;
    }

    nav{
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul{
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a{
        padding: 0.5em 1em;
    }

    #capstone, #mentor{
        width: 29%;
        float: left;
        margin: 0 2%;
    }

    main{
        clear: left;
    }

    main h1{
        font-size: 1.8em;
    }

    h1{
        text-align: left;
    } 

    nav li a:hover{
        color: #000;
        background-color: #fff;
    }
}
